# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


gan_checkpoints
checkpoints
runs
runss
mnist.pkl
minist手写识别报告.docx
minist手写识别报告.pdf
Apriori算法实验报告.docx
Apriori算法实验报告.pdf
